* {
  box-sizing: border-box;
}

label, input, button {
  display: block;
}

input {
  margin-top: 10px;
  border-collapse: collapse;
  border: 3px solid #245488;
}

button {
  padding-left: 15px;
  padding-right: 15px;
}

span {
  cursor: pointer;
}

.container {
  display: inline-block;
  margin-right: 20px;
}

table {
  margin-top: 25px;
}

table, td, th {
  border-collapse: collapse;
  border: 3px solid #245488;
}

td, th {
  padding: 10px 20px;
  text-align: center;
}
